:root {
    --text-white: #fff;
    --primary-color: #2a82ef;
    --secondary-color: #fff;
}

* {
    font-family: Raleway!important;
    margin: 0;
    color: #000;
}

h2 {
    font-weight: 900;
    font-size: 30px;
}

h3 {
    font-weight: 600;
}

li {
    margin-bottom: 2%;
    color: var(--secondary-color);
}

/* GRID */

.full-width {
    width: 100%!important;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /*
    background: #fd0;
    */
}

.fit-to-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outgrid-box-container {
    margin: 93px 0;
    padding: -150px 0;
    background: #F0F3F2;
}

.outgrid-box {
    margin: -100px 0;
}

.margin-please {
    margin: 1.3%;
}

.padding-please {
    padding: 1.3%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* BOOTSTRAP */

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 3%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

/* ALIGNMENTS */

.relative {
    position: relative;
}

.col-align-middle {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}

.align-center {
    align-content: center;
    text-align: center;
}

.align-right {
    align-content: right;
    text-align: right;
}

.align-left {
    align-content: left;
    text-align: left;
}

.align-img-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.align-object-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-h-center {
    display: inline-flex;
    justify-content: center;
}

/* FORM */

.form-container {
    display: inline-block;
    background: #fff;
    border-radius: 3%;
    padding: 5% 5%;
}

fieldset {
    border: none;
}

/* INPUTS WITHOUT LABELS */
input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 97%;
    outline: none;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin: 2% 0;
}

/* INPUTS WITH LABELS INLINE */
label + input[type=text], label + input[type=password], label + input[type=email], label + input[type=tel] {
    width: auto;
    outline: none;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin: 2% 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
    background: #e6e6e6;
}

select {
    width: 100%;
    outline: none;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

label#label-inline {
    font-size: 12px;
    display: inline-block;
    min-width: 80px;
}

input[type=button], input[type=submit], button {
    width: 100%;
    font-weight: 800!important;
    border: none;
    border-radius: 2px;
    margin: 8px 0;
    padding: 5% 4.5%;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    transition-duration: .3s;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    background: #398aec;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#top-banner {
    background: var(--primary-color);
}

/* COLORS */

.text-white {
    color: var(--text-white);
}

/* TEXTS */

.uppercase {
    text-transform: uppercase;
}

.justify {
    text-align: justify;
}

/* MEDIA RULES */

@media (min-width: 1px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
