:root {
    --text-white: #fff;
}

* {
    font-family: Raleway!important;
    margin: 0;
    color: #000;
}

h2 {
    font-weight: 900;
}

/* GRID */

.full-width {
    width: 100%!important;
}

.container {
    width: 1140px;
    margin: 0 auto;
    background: #fd0;
}

.fit-to-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 3%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ALIGNMENTS */

.align-middle {
    position: relative;
}

.align-middle-v {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}

.align-center {
    align-content: center;
    text-align: center;
}

.align-right {
    align-content: right;
    text-align: right;
}

.align-left {
    align-content: left;
    text-align: left;
}

.align-img-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.align-object-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-please {
    margin: 1.3%;
}

.padding-please {
    padding: 1.3%;
}

/* MEDIAS */

@media (min-width: 1px) {
    .container {
        max-width: 130px;
    }
}

@media (min-width: 200px) {
    .container {
        max-width: 180px;
    }
}

@media (min-width: 280px) {
    .container {
        max-width: 236px;
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 410px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* FORM */

fieldset {
    border: none;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    outline: none;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin: 2% 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
    background: #e6e6e6;
}

select {
    width: 100%;
    outline: none;
    border: none;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

label#label-inline {
    display: inline-block;
    min-width: 75px;
}

.form-container {
    background: #fff;
    border-radius: 3%;
    padding: 5% 3%;
}

input[type=button], input[type=submit], button {
    border: none;
    border-radius: 2px;
    margin: 8px 0;
    padding: 3% 4.5%;
    background: #000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    background: #2a82ef;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#top-banner {
    background: #2a82ef;
}

/* COLORS */

.text-white {
    color: var(--text-white);
}